<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

	{% include head.html %}

	{% assign image_files = site.static_files | where: "image", true %}
	{% if page.background == "undefined" %}
		<body class="project">
	{% else %}
		<body class="project" style="background-image:url(https://drive.google.com/uc?export=view&id={{ page.background }})">
	{% endif %}

	{% include header_project.html %}

		<main class="page-content" aria-label="Content">
		<div class="wrapper">
			{{ content }}
			<div class="slideshow">
				<div class="slidenav">
					<div class="navL"></div>
					<div class="navR"></div>
				</div><!--.slidenav-->
				{% for myimage in page.images %}
					<!-- why does this NOT work in Safari unless using Private Browsing mode (for me)? -->
					<!--https://stackoverflow.com/a/34994471-->
					<div class="slide">
						<img src="https://drive.google.com/uc?export=view&id={{ myimage.id }}" alt="">
						{% if myimage.description %}
						<h3>{{ myimage.description }}</h3>
						{% endif %}
					</div><!--.slide-->
				{% endfor %}
			</div><!--.slideshow-->
		</div><!--.wrapper-->
		</main>

		{% include footer_project.html %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="{{ "/" | relative_url }}assets/javascript/oet.js"></script>
	</body>

</html>
